<div class="row">
  <div class="col">
    <section>
      <form novalidate [formGroup]="carroForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form-group">
            <label>Placa</label>
            <input type="text"
                   class="form-control"
                   formControlName="placa">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary"  [disabled]="!carroForm.valid" >Submit</button>
        <!--<button type="button" class="btn btn-warning" (click)="redirectCarroPage()">Cancel</button>-->
        <pre>{{carroForm.value | json}}</pre>
      </form>
    </section>
  </div>
</div>