<div class="row">
  <div class="col">
    <section>
      <form novalidate [formGroup]="motoForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form-group">
            <label>Placa</label>
            <input type="text"
                   class="form-control"
                   formControlName="placa">
          </div>
          <div class="form-group">
            <label>Cilindraje</label>
            <input type="number"
                   class="form-control"
                   formControlName="cilindraje">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary"  [disabled]="!motoForm.valid" >Submit</button>
        <!--<button type="button" class="btn btn-warning" (click)="redirectCarroPage()">Cancel</button>-->
        <pre>{{motoForm.value | json}}</pre>
      </form>
    </section>
  </div>
</div>